body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.column01 {
    width: 1500%; /* Adjust the width as needed */
    padding: 2000px; /* Adjust the padding as needed */
}

.card01 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px; /* Adjust the padding as needed */
    text-align: center;
    background-color: #f0eeee;
}

a:hover {
    text-decoration: underline;
}

button {
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure button takes full width */
    padding: 0.8em 1em;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: #af0a0a;
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover {
    animation: sh0 0.5s ease-in-out both;
}
.big-button {
    font-size: 40px;
    padding: 40px;
    width: 400px;
    text-align: center; /* Center the text */
    background-color: #0a59af; /* Set a background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    cursor: pointer; /* Change the cursor when hovering over the button */
    border-radius: 50px;
}

.big-button:hover {
    background-color: #45a049; /* Change the background color when hovering over the button */
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* This will make the container take up the full height of the viewport */
}