/* Reset default margin and padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Set global font styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Section styles */
section {
    padding: 20px;
}

/* Welcome message styles */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Image container styles */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.small-image {
    width: 200px;
    height: 200px;
    margin: 0 10px;
    animation: floatAnimation 2s ease infinite alternate; /* Animation applied */
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Wish List styles */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 16px;
    margin-bottom: 5px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
