<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Attraction</title>
    <link rel="stylesheet" type="text/css" href="/stylesForAddAttraction.css">
    <link rel="stylesheet" type="text/css" href="/navbar.css">
</head>
<body>



<h1>Add Wish</h1>

<form action="/attractions/save" method="post" class="attraction-form">
    <div class="form-group">
        <label for="name">Name of Wish:</label>
        <input type="text" id="name" name="name" class="form-control" th:value="${attraction.name}">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" class="form-control" th:text="${attraction.description}"></textarea>
    </div>

    <div class="form-group">
        <label for="city">Brand of Wish:</label>
        <select id="city" th:field="*{cities}" class="form-control">
            <option th:each="city : ${cities}" th:value="${city}" th:text="${city}">City</option>
        </select>
    </div>



    <div class="form-group">
        <label for="price">Price of Wish:</label>
        <input type="text" id="price" name="price" class="form-control" th:value="${attraction.price}">
    </div>
    <!-- Tags selection -->
    <!-- Tags selection -->
    <div class="form-group">
        <label for="tags">Tags:</label>
        <select id="tags" name="tags" multiple class="form-control">
            <option th:each="tag : ${tags}" th:value="${tag}" th:text="${tag}">Tag1</option>
        </select>
    </div>

    <!-- Input field for adding new tags -->
    <input type="text" id="newTag" name="newTag" class="form-control" placeholder="Add new tag">

    <button type="submit" class="btn btn-primary">Save</button>
</form>
<style>
    body {


        /* existing styles */
        background-image: url('/images/gates.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
</body>
</html>
<footer th:insert="~{footer :: footer}"></footer>