<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="createaccount.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>
    <div class="container">
        <h2>Create an Account:</h2>
        <form action="/submit-account" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Create Account">
        </form>

        <style>
            body {


                /* existing styles */
                background-image: url('/images/clouds-index.png');
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </div>
</body>
</html>