<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Attraction</title>
    <link rel="stylesheet" type="text/css" href="/stylesForAddAttraction.css">
</head>
<body>

<form th:action="@{/attractions/update}" th:object="${attraction}" method="post" class="attraction-form">
    <!-- Hidden input for ID -->
    <input type="hidden" th:field="*{id}" />

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="city">City:</label>
        <select id="city" th:field="*{city}" class="form-control">
            <option th:each="city : ${cities}" th:value="${city}" th:text="${city}" />
        </select>
    </div>

    <!-- Tags selection -->
    <div class="form-group">
        <label for="tags">Tags:</label>
        <select id="tags" name="tags" multiple class="form-control">
            <option th:each="tag : ${tags}" th:value="${tag}" th:text="${tag}">Tag1</option>
        </select>
    </div>

    <!-- Location input -->
    <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" th:field="*{location}" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>
</html>
<footer th:insert="~{footer :: footer}"></footer>
