<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Tourist Website</title>

</head>
<body>
<header>
    <h1>Architectural buildings in Copenhagen</h1>
</header>
<div class="intro-text">
    <p>Here's some information about architectural buildings in Denmark:</p>
    <!-- Your content here -->
</div>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Contact Us</h4>
                <p>Email: DreamWishes@gmail.com</p>
                <p>Phone: +45 82 93 23 04</p>
                <p>Address: Gulderbergs Gade 29N</p>
            </div>
            <div class="col-md-6">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <a href="http://localhost:8080/">Homepage</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 Your Website. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <p class="text-right">Designed by DreamWishes Company</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>