<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="indexcss.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <title>DreamWishes</title>
</head>
<body>

<ul>
    <li><img src="/images/cloud-icon-12863.png" alt="Home" ></li>
    <header>
        <h1>DreamWishes</h1>
    </header>
</ul>




<section>
    <div>
        <h2>Welcome to your wishing list!</h2>
        <p>DreamWishes allows you to create and share your dreams with friends and family. Start adding wishes from your favorite brands or anything else you desire!</p>
    </div>
</section>

<img class="background" src="/images/flowers.png">

<div class="row">
    <div class="container">
        <div class="column01">
            <div class="card01">
                <h3><button class="button" onclick="location.href='/attractions/add'">Add a Wish</button></h3>
                <p>Test card1</p>
                <p>Test2 card1</p>
                <table></table>
            </div>
        </div>
    </div>

    <div class="column02">
        <div class="card02">
            <h3><button class="button" onclick="location.href='/attractions'">Go to Wish List</button></h3>
            <p>Test card2</p>
            <p>Test2 card2</p>
        </div>
    </div>
    <div class="column03">
        <div class="card03">
            <h3><%= title03 %></h3>
            <p><%= saga04 %></p>
            <p><%= saga02 %></p>
        </div>
    </div>
    <div class="column04">
        <div class="card04">
            <h3><%= title04 %></h3>
            <p><%= saga05 %></p>
            <p><%= saga02 %></p>
        </div>
    </div>
</div>


<h2>Wish List:</h2>
<ul>
    <!-- Use Thymeleaf to loop through the list of tourist attractions -->
    <li th:each="attraction : ${attractions}">
        <span th:text="${attraction.name}"></span> - <span th:text="${attraction.description}"></span>
    </li>
</ul>
<ul>
    <li><button class="button" onclick="location.href='/attractions/add'">Add a Wish</button></li>
    <li><button class="button" onclick="location.href='/attractions'">Go to Wish List</button></li>
</ul>


<footer th:insert="~{footer :: footer}"></footer>
</body>
</html>
