<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="indexcss.css">
    <title>DreamWishes</title>
</head>
<body>
<header>
    <h1>DreamWishes</h1>
</header>

<section>
    <div>
        <h2>Welcome to your wishing list!</h2>
        <p>DreamWishes allows you to create and share your dreams with friends and family. Start adding wishes from your favorite brands or anything else you desire!</p>
    </div>
</section>

<div class="image-container">

    <!-- add images to front page -->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOG6-ipNxEm846isyDUvC-JBdkjLAD7hr0NQ&s" class="small-image">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn3StnBW4tX4ID2VroW64Sb0QLOGea9qmmk3kgWo3YOA&s" class="small-image">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/Old_Nike_logo.jpg" class="small-image">

</div>


<h2>Wish List:</h2>
<ul>
    <!-- Use Thymeleaf to loop through the list of tourist attractions -->
    <li th:each="attraction : ${attractions}">
        <span th:text="${attraction.name}"></span> - <span th:text="${attraction.description}"></span>
    </li>
</ul>
<ul>
    <li><a href="/attractions/add">Add a Wish</a></li>
    <li><a href="/attractions">Go to Wish List</a></li>
</ul>

<footer th:insert="~{footer :: footer}"></footer>
</body>
</html>
