<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="/api/users/login" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" th:value="${username}"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <div th:if="${loginError}" class="error">
        Login failed. Please check your username and password.
    </div>
    <button type="submit">Login</button>

</form>
<a href="/register">Register</a> <!-- Anchor tag for registration page -->
<!-- Or -->
<button onclick="location.href='/register'">Register</button> <!-- Button for registration page -->
</body>
</html>
