<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <link rel="stylesheet" type="text/css" href="login.css">
    <title>Login</title>
</head>
<body>


<ul>
    <li ><a href="/"><img src="/images/cloud-icon.png" alt="Home" style="width: 30px; height: 30px;"></a></li>
    <li style="float: right"><a href="/login"><img src="/images/lock-icon.png" alt="Home" style="width: 25px; height: 25px;"/></a></li>
    <h1>DreamWishes</h1>
</ul>

<div id="background-wrap">
    <div class="x1">
        <div class="cloud"></div>
    </div>

    <div class="x2">
        <div class="cloud"></div>
    </div>

    <div class="x3">
        <div class="cloud"></div>
    </div>

    <div class="x4">
        <div class="cloud"></div>
    </div>

    <div class="x5">
        <div class="cloud"></div>
    </div>
</div>

<img class="background" src="">
<div class="container">

    <div>


        <form action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="username" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
</body>
</body>
</html>