<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${user != null}">
    <h2>User Profile: </h2>
    <p th:text="${user.username}"></p>
</div>

<div th:if="${wishlists != null}">
    <h2>Wishlists:</h2>
    <ul>
        <li th:each="wishlist : ${wishlists}">
            <!-- Display information about the wishlist -->
            <p th:text="${wishlist.item_name}"></p>
            <!-- Add more fields to display other information about the wishlist as needed -->
        </li>
    </ul>
</div>
</body>
</html>