<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
<h2>User Profile</h2>
<h3>Welcome, <span th:text="${loggedInUser.username}"></span>!</h3>
<h4>Your Wishes:</h4>
<ul>
    <li th:each="wish : ${userWishes}">
        <span th:text="${wish.name}"></span> - <span th:text="${wish.description}"></span>
    </li>
</ul>
</body>
</html>
