<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<h2>Register</h2>
<form action="/register" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" th:value="${user.username}"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" th:value="${user.email}"><br><br>
    <button type="submit">Register</button>
</form>
</body>
</html>
