<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="indexcss.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <title>Your Wishlist</title>
</head>
<body>

<ul>
    <li><a href="/"><img src="/images/cloud-icon-12863.png" alt="Home"></a></li>
    <li style="float: right"><a href="/login">Login</a></li>
    <header>
        <h1>DreamWishes</h1>
    </header>
</ul>

<h1>Your Wishlist</h1>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Brand of Wish</th>
        <th>Price of Wish:</th> <!-- New column for Location -->
        <th>Tags</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}">Name</td>
        <td th:text="${attraction.description}">Description</td>
        <td th:text="${attraction.city}">Price</td>
        <td th:text="${attraction.location}">Anledning</td> <!-- Display Location -->
        <td th:text="${attraction.tags}">Tags</td>
        <td>
            <!-- Button to edit the attraction -->
            <form th:action="@{/attractions/edit/{name}(name=${attraction.name})}" method="get">
                <button type="submit">Edit</button>
            </form>
            <!-- Button to delete the attraction -->
            <form th:action="@{'/attractions/' + ${attraction.name} + '/delete'}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
<footer th:insert="~{footer :: footer}"></footer>